body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-app{
  background-color: #1ABC9C;
}
.style{
  background-color: white;
  height: 5px;
  width: 80px;
}
.color{
  color: #212529;
}
.style2{
  background-color: #212529;
  height: 5px;
  width: 80px;
}
input{
position: relative;
left: 25%;
top: 0;
}
.bg-darker{
  background-color: #0e0f0f;
}
.active:hover {
  background-color: #1ABC9C !important;
  border: 1px solid #1ABC9C !important;
  border-radius: 5px !important;
  padding: 10px !important;
}